.app__navbar-mobile {
}

.app__navbar-mobile-icon {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.app__navbar-mobile-links {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: purple;
    cursor: pointer;
    transition: color 300ms;
    padding: 10px 10px;

    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: column;
      text-transform: uppercase;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      color: #cd7f32;
      transition: 0.3s ease-out;
    }
  }

  @media screen and (max-width: 480px) {
    grid-template-rows: repeat(6, 60px);
  }
}
