.app__navbar-mobile {
  background-color: var(--gray-color);
}

.app__navbar-mobile-logo {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  margin: 1px 1px;

  img {
    width: 100px;

    @media screen and (min-width: 2000px) {
      width: 200px;
    }

    @media screen and (max-width: 968px) {
      width: 100px;
    }
  }

  @media screen and (max-width: 968px) {
    width: 100%;
  }
}

.app__navbar-mobile-icon {
  color: var(--tertiary-color);
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: transparent;
  font-size: 2.5rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-out;

  &:hover {
    transform: scale(1.1);
  }
}

.app__navbar-mobile-links {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    transition: color 300ms;
    padding: 10px 10px;

    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: column;
      text-transform: uppercase;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      color: (--tertiary-color);
      transition: 0.3s ease-out;
    }
  }

  @media screen and (max-width: 480px) {
    grid-template-rows: repeat(6, 60px);
  }
}
