.app__about {
  width: 100%;
  flex-direction: column;
}

.app__about-info-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  margin-top: 1rem;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 868px) {
    grid-template-columns: 1fr;
  }
}

.app__about-block {
  text-align: left;
  display: flex;
  width: 250px;
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 3px -3px var(--tertiary-color);
  transition: transform 500ms ease-in-out;

  img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid;
  }

  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: 868px) {
    width: 300px;
  }
}

.app__about-block-content {
  text-align: left;
  padding: 0.5rem;
  margin: 0;
  width: 100%;
}
