.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);

  width: 100%;
}

.section-header-text {
  font-size: clamp(1rem, 7vw, 2.7rem);
  text-align: center;
  letter-spacing: 2px;
  color: #e4e4e4;
}
