.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);

  width: 100%;
}

.app__main {
  background-color: var(--primary-color);
  font-family: var(--font-base);

  width: 100%;
  padding: 0px 120px;

  @media screen and (max-width: 968px) {
    padding: 0px 40px;
  }
}
